@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --colour-1: #E54B4B;
    --colour-2: #FFA987;
    --colour-3: #f0f0f0;
    --colour-4: #444140;
    --colour-5: #1E1E24;
    --text-colour-light: #F2FDFF;
    --text-colour-dark: #323435;
}

* {
    margin: 0;
    padding: 0;
    height: inherit;
    color: var(--text-colour-dark);
    font-family: 'Poppins', sans-serif;
    list-style-type: none;

}
body {
    background-color: var(--colour-3);
}